<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <itemWebApiRequest>
        <processor patch:before="*[1]" type="ItemWebApiExtension.RequestThrottle, ItemWebApiExtension" />
      </itemWebApiRequest>
    </pipelines>
  </sitecore>
</configuration>