<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <itemWebApiRequest>
        <processor patch:before="*[1]" type="ItemWebApiExtension.RequestThrottle, ItemWebApiExtension">
          <!-- Timeframe for tracking request activity (in milliseconds) -->
<!--          <ActivityInterval>7500</ActivityInterval>-->
          <!-- Lower bound for average time between requests (in milliseconds) -->
<!-- TODO         <MinimumRequestInterval>750</MinimumRequestInterval>-->
        </processor>
      </itemWebApiRequest>
    </pipelines>
  </sitecore>
</configuration>